<%= form_with(scope: :session, url: admin_url, local: true) do  |form| %>
  <p id="notice"><%= notice %></p>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="actions">
    <%= form.submit 'Log in' %>
  </div>
<% end %>