<div class="panel panel-default">
  <div class="panel-body">
    <p id="notice"><%= notice %></p>

    <h1>Change password</h1>

    <%= form_with(model: @user, local: true) do |form| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
          <% user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label 'Old password'%>
        <%= password_field_tag :current_password, params[:current_password] %>
      </div>

      <div class="field">
        <%= form.label 'New password' %>
        <%= form.password_field :password %>
      </div>

      <div class="field">
        <%= form.label 'Confirm password' %>
        <%= form.password_field :password_confirmation %>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>
    
    <%= link_to 'Show', @user %> |
    <%= link_to 'Back', users_url %>
  </div>
</div>
