<%= render 'shared/flash' if flash_list %>

<div class="panel panel-default">
  <div class="panel-body">
    <div>
      <strong>First name:</strong>
      <%= @user.first_name %>
    </div>

    <div>
      <strong>Last name:</strong>
      <%= @user.last_name %>
    </div>

    <div>
      <strong>Username:</strong>
      <%= @user.username %>
    </div>

    <div>
      <strong>Password digest:</strong>
      <%= @user.password_digest %>
    </div>

    <div>
      <strong>Role:</strong>
      <%= @user.role %>
    </div>

    <%= link_to 'Edit', edit_user_url(@user) %> | 
    <%= link_to 'Change Password', edit_change_password_user_url(@user) %> |
    <%= link_to 'Back', users_url %>
  </div>
</div>
