<div class="row">
  <% posts.each do |post| %>
    <div class="col-sm-6 col-md-4">
      <div class="media">
        <div class="media-left media-middle">
          <%= link_to(rmpost_url(post)) do %>
            <% if post.image.present? %>
              <%= image_tag post.image_url, class: "media-object" if post.image_url %>
            <% end %>
          <% end %>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><span><%= link_to post.title, rmpost_url(post) %></span></h4>
          <div><span><%= post.description %></span></div>
          <div>
          <% post.post_attributes.first(2).each do |attribute| %>
            <div>
              <span><%= attribute.attribute_name %>: <strong><%= attribute.attribute_value %></strong></span>
            </div>
          <% end %>
          <% if current_user %>
            <%= link_to 'Edit', edit_post_url(post) %> | 
            <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>