<%= render 'shared/flash' if flash_list %>

<% unless params[:q].blank? && !@Search %>
  <% params[:q].each do |k,v| %>
    <h3>Search result for: <em><strong><%= v.blank? ? "_blank" : v  %></strong></em></h3>
  <% end %>
<% end %>

<% unless @posts.blank? %>
  <% @posts.each do |post| %>
    <div class="media">
      <div class="media-left media-middle">
        <%= link_to(rmpost_url(post)) do %>
          <%= image_tag post.title_image.variant(resize: '150x150'), class: 'media-object' %>
        <% end %>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><%= link_to truncate(post.title, length: 15), rmpost_url(post) %></h4>
        <%= truncate(post.description, length: 50) %>
        <div>
        <% post.post_attributes.first(2).each do |attribute| %>
          <div>
            <%= attribute.attribute_name %>:<strong> <%= attribute.attribute_value %></strong>
          </div>
        <% end %>
        <% if current_user %>
          <%= link_to 'Edit', edit_post_url(post) %> | 
          <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="text-center">No post found</div>
<% end %>