<%= render 'shared/flash' if flash_list %>

<div class="panel panel-default">
  <div class="panel-body">

    <p>
      <strong>Title:</strong>
      <%= @post.title %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @post.description %>
    </p>

    <p>
      <strong>User:</strong>
      <%= @post.user.username %>
    </p>

    <%= link_to 'Edit', edit_post_url(@post) %> |
    <%= link_to 'Back', posts_url %>

  </div>
</div>