<% content_for :title, @post.title %>
<%= provide(:description, truncate(@post.description, length: 150)) %>
<%= render 'shared/flash' if flash_list %>
<%= render 'posts/post_read_more_modal', post: @post %>

<div class="row">
  <div class="col-xs-12" id="slider">
    <!-- Top part of the slider -->
    <div class="row">
      <div class="col-sm-4">
        <div>
          <a href="https://www.facebook.com/sharer/sharer.php?u=<%= request.original_url %>" 
              class="btn btn-fb" 
              title="Share on Facebook" 
              target="_blank"><%= fa_icon('facebook', text: 'SHARE') %></a>

          <h2><%= @post.title %></h2>

          <% @post.categories.each do |category| %>
            <div class="label label-danger category-tag-name">
              <%= category.category_name %>
            </div>
          <% end %>

          <% @post.post_attributes.each do |attribute| %>
            <div class="post-attribute">
              <%= attribute.attribute_name %>:<strong> <%= attribute.attribute_value %></strong>
            </div>
          <% end %>

          <p>
            <%= simple_format(truncate(@post.description, length: 500)) %>
            <%= link_to 'Read More', '#postReadMoreModal', class: 'read-more-link', data: {toggle: 'modal'} if @post.description.length > 500 %>
          </p>
        </div>
      </div>

      <div class="col-sm-8">
        <!-- Slider -->
        <div class="slider">
          <ul id="lightSlider">
            <% @post.post_images.each do |image| %>
              <li data-thumb="<%= url_for(image) %>">
                  <%= link_to image_tag(image), image, target: :_blank %>
              </li>
            <% end %>
          </ul>
        </div>
        <!--/Slider-->
      </div>
    </div>
  </div>
</div>

<div id="map" class="map">
  <post 
    v-bind:post="post"
    v-for="post in currentPost(<%= @post.id %>)"/>
  <!-- <#%= raw(@post.google_map_embed) %> -->
</div>