<div class="panel panel-default">
  <div class="panel-body">
    <p id="notice"><%= notice %></p>

    <h1>Categories</h1>

    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Category name</th>
            <th>Category description</th>
            <th colspan="2">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% if @categories.any? %>
            <% @categories.each do |category| %>
              <tr>
                <td><%= category.category_name %></td>
                <td><%= category.category_description %></td>
                <td><%= link_to 'Edit', edit_category_url(category) %></td>
                <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          <% else %>
            <tr class="text-center">
              <td colspan="3">No category found</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= link_to 'New Category', new_category_url %>
  </div>
</div>