<!DOCTYPE html>
<html>
  <head>
    <title><%= @seo_page ? yield(:title) : 'RM Real Estate Services' %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'map' %>
    <%= javascript_pack_tag 'contact' %>
    <%= javascript_pack_tag 'inbox' %>
    <%= javascript_pack_tag 'api' %>
    <%= favicon_link_tag "https://s3.amazonaws.com/combite-real-estate/public/rmres-logo.png" %>

    <!-- SEO Title and Description -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="<%= yield(:description) %>">

    <!-- Facebook Open Graph -->
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:type" content="website">
    <meta property="og:title" content="<%= yield(:title) %>">
    <meta property="og:description" content="<%= yield(:description) %>">
    <meta property="og:image" content="<%= yield(:image) if @seo_page %>">
  </head>

  <body>
    <div id="contact">
      <%= render 'layouts/navbar' %>
      <%= render 'layouts/contact_us_modal' %>
    </div>
    
    <%= render 'layouts/banner' if @home && @carousel.count > 1 %>
    <%= render 'shared/search' if @home || @index %>
    <%= render 'shared/category' if @render_category %>

    <div class="container">
      <div class="main">
        <%= yield %>
      </div>
    </div>

    <%= render 'layouts/property_specialists' if @home %>
    <%= render 'layouts/footer' %>
  </body>
</html>

